!!!
html(lang="en")
    head
        meta(charset="utf-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title #{ site_title }
        script(src="//use.typekit.net/mer5zti.js")
        <script>try{Typekit.load();}catch(e){}</script>
        link(rel="stylesheet", href="/assets/css/app.css")
        link(rel="alternate", type="application/rss+xml", title="#{ site_title } RSS", href="/rss.xml")

    body(class="page-#{ current.path[0] } #{ current.path.join('-') }")
        header
            .container
                .row
                    .col-sm-12.title
                        h1
                            a(href='localhost:9000/') Euphonos
                        h4 An experiment in short-form music writing
            hr
        article#content.m-scene
            .container.main-content.scene_element.scene_element--fadein
                .row
                    .col-sm-12.main
                        != yield
                        != partial("_partials/comments")
        script(type='text/javascript', src='/assets/js/jquery.min.js')
        script(type='text/javascript', src='/assets/js/jquery.smoothstate.js')
        script(type='text/javascript', src='/assets/js/soundcite.js')
        script(type='text/javascript', src='/assets/js/app.js')
